<!DOCTYPE html>
<html lang="sw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jiunge na Magroup ya WhatsApp. Channels za WhatsApp za video za ngono, magroup ya malaya na wadada wanao jiuza Dar na Mikoani.">
    <%- include('../../0global/cdns.ejs'); %>
    <%- include('../../0global/style.ejs'); %>
    <%- include('../../0global/navcss.ejs'); %>
    <%- include('./partials/style.ejs'); %>
    <title>Link za Groups na Channels za WhatsApp Tanzania</title>
    <%- include('../../0global/favicon.ejs'); %>
</head>

<body>
    <%- include('../../0global/header.ejs'); %>
    <main>
        <div class="right">
            <h2>Link za Groups za WhatsApp pamoja na Channels za WhatsApp Tanzania</h2>
            <p>Jiunge na magroup pamoja na channels za WhatsApp Tanzania. Group za ngono, group za malaya na wadada wanao jiuza. Magroup ya malaya mikoa yote yanapatika hapa.</p>
            <div>
                <h3>Magroup ya Malaya Mikoa Yote Tanzania</h3>
                <ul>
                    <li>Magroup ya Malaya Dar es salaam  (Kinondoni, Sinza, Manzese, Mbezi, Temeke)</li>
                    <li>Magroup ya Malaya Arusha (Madada Poa na Video za Ngono)</li>
                    <li>Magroup na Channel za Malaya Mwanza, Mbeya na Tanga</li>
                    <li>Magroup ya Malaya | Madada Poa Mikoani</li>
                </ul>
            </div>
            <div>
                <h3>Magroup ya Video za Ngono za Kibongo</h3>
                <ul>
                    <li>Link za Magroup ya Ngono za Kibongo WhatsApp</li>
                    <li>Link za Magroup ya Video za Kutombana na Kufirana Mikundu Tanzania</li>
                    <li>Magroup ya Connection za Mastaa na Wadada wa Chuo</li>
                    <li>WhatsApp | Nunua Malaya Mtandaoni.</li>
                </ul>
            </div>

            <div>
                <h3>Hizi Hapa Link za Magroup ya Wakubwa WhatsApp</h3>
                <p>Hakikisha umeinstall app ya Telegram kwenye simu yako kabla ya kufungua link hizi.</p>
                <%- include('./partials/table.ejs'); %>
            </div>
        </div>

        <!-- left section -->
        <%- include('../../0global/sidebar.ejs'); %>
    </main>

    <!-- footer section -->
    <%- include('../../0global/footer.ejs'); %>

    <%- include('../../0global/script.ejs'); %>
    <%- include('../../0global/boostrapjs.ejs'); %>
</body>

</html>