<!DOCTYPE html>
<html lang="sw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Haya hapa magroup ya Telegram na WhatsApp ya Timu zote Ligi Kuu Tanzania Bara. Group la Simba Telegram. Group la Yanga Telegram. Magroup ya Simba na Yanga WhatsApp">
    <%- include('../../0global/cdns.ejs'); %>
    <%- include('../../0global/style.ejs'); %>
    <%- include('../../0global/navcss.ejs'); %>
    <%- include('./partials/style.ejs'); %>
    <title>Magroup ya Simba na Yanga Telegram na WhatsApp</title>
    <%- include('../../0global/favicon.ejs'); %>
</head>

<body>
    <%- include('../../0global/header.ejs'); %>
    <main>
        <div class="right">
            <h2>Link za Groups za Telegram pamoja na Channels za Telegram Simba na Yanga Tanzania</h2>
            <p>Jiunge na magroup pamoja na channels za Telegram Tanzania. Magroup ya Yanga Telegram, Magroup ya Simba Telegram na Magroup ya Simba na Yanga WhatsApp.</p>
            <div>
                <h3>Magroup ya Simba Sports Club Telegram</h3>
                <ul>
                    <li>Group la Simba SC | Main Telegram Group</li>
                    <li>Channel ya Simba kwa Taarifa na Matukio</li>
                    <li>Group la Simba kwa Chatting na Kujuana</li>
                    <li>Channel ya Michezo, Ratiba na Matokeo ya Simba SC</li>
                </ul>
            </div>
            <div>
                <h3>Magroup ya Dar es salaam Young Africans Telegram</h3>
                <ul>
                    <li>Group la Yanga | Main Telegram Group</li>
                    <li>Channel ya Yanga kwa Taarifa na Matukio</li>
                    <li>Group la Yanga kwa Chatting na Kujuana</li>
                    <li>Channel ya Michezo, Ratiba na Matokeo ya Yanga</li>
                </ul>
            </div>
            <br><hr><br>
            <div>
                <h3>Magroup ya Simba Sports Club WhatsApp</h3>
                <ul>
                    <li>Group la Simba SC | Main WhatsApp Group</li>
                    <li>Channel ya Simba kwa Taarifa na Matukio</li>
                    <li>Group la Simba kwa Chatting na Kujuana</li>
                    <li>Channel ya Michezo, Ratiba na Matokeo ya Simba SC</li>
                </ul>
            </div>
            <div>
                <h3>Magroup ya Dar es salaam Young Africans WhatsApp</h3>
                <ul>
                    <li>Group la Yanga | Main WhatsApp Group</li>
                    <li>Channel ya Yanga kwa Taarifa na Matukio</li>
                    <li>Group la Yanga kwa Chatting na Kujuana</li>
                    <li>Channel ya Michezo, Ratiba na Matokeo ya Yanga</li>
                </ul>
            </div>
            <div>
                <h3>Hizi Hapa Link za Magroup ya Simba SC na Yanga Telegram na WhatsApp</h3>
                <p>Hakikisha umeinstall app ya Telegram kwenye simu yako kabla ya kufungua link hizi.</p>
                <%- include('./partials/table.ejs'); %>
            </div>
            <p>List hii ya magroup na channel za Simba Telegram na WhatsApp, magroup ya Yanga Tanzania Telegram na WhatsApp itaendelea kuongezwa kadiri link za magroup na channels zitakavyozidi kupatikana. Hivyo telembelea tovuti yetu mara kwa mara kwa taarifa na kupata nafasi ya kujiunga katika magroup upendayo.</p>
        </div>

        <!-- left section -->
        <%- include('../../0global/sidebar.ejs'); %>
    </main>

    <!-- footer section -->
    <%- include('../../0global/footer.ejs'); %>

    <%- include('../../0global/script.ejs'); %>
    <%- include('../../0global/boostrapjs.ejs'); %>
</body>

</html>